body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.react-p5-wrapper {
  margin-left: 120px;
  margin-top: 20px;
}

.react-p5-wrapper>button {
  width: 100px;
}

.react-p5-wrapper>input {
  width: 100px;
}

.selected-group {
  /* border: 2px solid black; */
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.6), 0 0 10px 2px rgba(0, 0, 0, 0.6);}